/* src/components/lp.css */
.new-landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Changed from height to min-height to allow scrolling */
  background: linear-gradient(to right, #1b0030, #6703d3, #ff7b00);
  text-align: center;
  color: #ffffff;
  padding: 20px; /* Add padding for better spacing on mobile */
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.lp-image {
  max-width: 60%; /* Set a default max-width for all screen sizes */
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Media queries for adjusting the image size */
@media (max-width: 768px) {
  .lp-image {
    max-width: 80%; /* Adjust the width for tablets */
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .lp-image {
    max-width: 70%; /* Adjust the width for mobile devices */
  }
}
/* Media queries for adjusting the image size */
@media (max-width: 768px) {
  .lp-image {
    max-width: 50%; /* Adjust the width for tablets */
  }
}
