/* LogCalendar.css */
.log-calendar-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.log-marker {
  width: 100%;
  height: 100%;
  background-color: rgba(
    25,
    118,
    210,
    0.2
  ); /* Light blue background matching Material-UI primary color */
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.react-calendar__tile {
  position: relative;
}

.react-calendar__tile--now {
  background: none !important; /* Make the current day transparent */
}

.react-calendar__month-view__days__day--weekend {
  color: black !important; /* Change weekend text color to black */
}

.react-calendar__tile--active .log-marker {
  background-color: rgba(
    25,
    118,
    210,
    0.4
  ); /* Darker blue for the active day matching Material-UI primary color */
}

.react-calendar {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.react-calendar__navigation button {
  color: var(--text-color);
}

.react-calendar__navigation button:disabled {
  color: var(--text-color);
}

.react-calendar__month-view__weekdays__weekday {
  color: var(--text-color);
}

/* Dark mode styles */
.dark-mode .react-calendar {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.23);
}

.dark-mode .react-calendar__tile {
  background-color: #444444;
  color: #ffffff;
}

.dark-mode .react-calendar__month-view__days__day--weekend {
  color: #ffffff !important; /* Change weekend text color to white */
}

.dark-mode .react-calendar__tile--now {
  background: #555555 !important; /* Make the current day transparent */
}

.dark-mode .react-calendar__navigation button {
  color: #ffffff;
}

.dark-mode .react-calendar__navigation button:disabled {
  color: #777777;
}

.dark-mode .react-calendar__month-view__weekdays__weekday {
  color: #bbbbbb;
}

.modal-content {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Dark mode styles for modal */
.dark-mode .modal-content {
  background-color: #444444;
  color: #ffffff;
}
