:root {
  --background-color: #000125; /* Dark background color */
  --text-color: #000000; /* Light text color for contrast */
  --secondary-background-color: #1f1f1f; /* Slightly lighter dark color for secondary elements */
  --accent-color: #bb86fc; /* Accent color for highlights */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Changed from center to flex-start */
  text-align: center;
  min-height: 100vh; /* Ensures the container takes full height */
  padding-top: 10px; /* Add padding to the top to create space from the header */
  overflow-y: auto; /* Allow vertical scrolling */
}

.content {
  max-width: 800px;
  padding: 10px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 1em;
}

.App-logo {
  height: 50vmin;
  pointer-events: auto;
  border-radius: 50%; /* Make the image circular */
  object-position: center;
  cursor: pointer;
  max-width: 100%; /* Ensure image does not overflow */
}

.App-logo:hover {
  transform: scale(1.002); /* Slightly enlarge on hover */
}

.test-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #2196f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.test-button:hover {
  background-color: #1976d2;
}

.nav-links {
  display: flex;
  justify-content: space-around; /* Distribute space around the items */
  align-items: center;
  width: 100%; /* Make sure it takes full width */
  margin-bottom: 10px; /* Add margin at the bottom */
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px; /* Adjusted margin for better spacing */
}

.icon-small-lp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Media query for mobile viewports */
@media (max-width: 768px) {
  .App-logo {
    height: 70vmin; /* Increase logo size for mobile */
  }
  .nav-links {
    flex-direction: row;
    justify-content: space-around; /* Ensure items are evenly spaced on mobile */
  }
  .nav-item {
    margin: 0 5px; /* Adjusted margin for better spacing on mobile */
  }
}

.a2hs-button {
  display: inline-block; /* Show by default */
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #2196f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.a2hs-button:hover {
  background-color: #1976d2;
}

@media (min-width: 769px) {
  .a2hs-button {
    display: none; /* Hide on larger screens */
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 90%;
  max-height: 90%; /* Limit the height */
  overflow-y: auto; /* Add scroll if content overflows */
  text-align: center;
  color: #000000;
}

.glowing-image {
  position: relative;
  display: inline-block;
}

.glowing-image::before {
  content: "";
  position: absolute;
  top: 49.5%;
  left: 50%;
  width: 100.1%;
  height: 100.1%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    rgba(0, 128, 255, 0.6),
    rgba(0, 0, 255, 0.3),
    transparent
  );
  border-radius: 50%;
  z-index: -1;
  animation: glow 2s infinite alternate;
}

.glowing-image-icon {
  position: relative;
  display: inline-block;
}

.glowing-image-icon::before {
  content: "";
  position: absolute;
  top: 49.5%;
  left: 50%;
  width: 100.1%;
  height: 100.1%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    rgba(0, 128, 255, 0.6),
    rgba(0, 0, 255, 0.3),
    transparent
  );
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 10px rgba(0, 128, 255, 0.5);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(0, 128, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 128, 255, 1);
  }
}
