:root {
  --background-color: #000125;
  --text-color: #000000;
  --secondary-background-color: #1f1f1f;
  --accent-color: #bb86fc;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.subtitle {
  margin-top: 130px;
  text-align: center;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  min-height: 100vh;
  padding-top: 20px;
  overflow-y: auto;
}

.content {
  max-width: 800px;
  padding: 10px;
  position: relative;
}

.logo-container {
  padding: 10px;
  border-radius: 20%;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sw-logo {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
}

.central-image {
  position: relative;
  z-index: 1;
}

.circle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 65px; /* Adjust the size as needed */
  height: 65px; /* Adjust the size as needed */
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon1 {
  transform: rotate(0deg) translate(455%) rotate(0deg);
}

.icon2 {
  transform: rotate(60deg) translate(455%) rotate(-60deg);
}

.icon3 {
  transform: rotate(120deg) translate(455%) rotate(-120deg);
}

.icon4 {
  transform: rotate(180deg) translate(455%) rotate(-180deg);
}

.icon5 {
  transform: rotate(240deg) translate(455%) rotate(-240deg);
}

.icon6 {
  transform: rotate(300deg) translate(455%) rotate(-300deg);
}

.App-logo {
  height: 50vmin;
  pointer-events: auto;
  border-radius: 50%;
  object-position: center;
  cursor: pointer;
  max-width: 100%;
}

.App-logo:hover {
  transform: scale(1.002);
}

.icon-small-lp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.a2hs-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #2196f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.a2hs-button:hover {
  background-color: #1976d2;
}

@media (min-width: 769px) {
  .a2hs-button {
    display: none;
  }
}

.glowing-image {
  position: relative;
  display: inline-block;
}

.glowing-image::before {
  content: "";
  position: absolute;
  top: 49.5%;
  left: 50%;
  width: 100.1%;
  height: 100.1%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    rgba(0, 128, 255, 0.6),
    rgba(0, 0, 255, 0.3),
    transparent
  );
  border-radius: 50%;
  z-index: -1;
  animation: glow 2s infinite alternate;
}

.glowing-image-icon {
  position: relative;
  display: inline-block;
}

.glowing-image-icon::before {
  content: "";
  position: absolute;
  top: 49.5%;
  left: 50%;
  width: 100.1%;
  height: 100.1%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    rgba(0, 128, 255, 0.6),
    rgba(0, 0, 255, 0.3),
    transparent
  );
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 10px rgba(0, 128, 255, 0.5);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(0, 128, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 128, 255, 1);
  }
}

@media (max-width: 768px) {
  .circle-container {
    width: 300px;
    height: 300px;
  }

  .icon1 {
    transform: rotate(0deg) translate(270%) rotate(0deg);
  }

  .icon2 {
    transform: rotate(60deg) translate(270%) rotate(-60deg);
  }

  .icon3 {
    transform: rotate(120deg) translate(270%) rotate(-120deg);
  }

  .icon4 {
    transform: rotate(180deg) translate(270%) rotate(-180deg);
  }

  .icon5 {
    transform: rotate(240deg) translate(270%) rotate(-240deg);
  }

  .icon6 {
    transform: rotate(300deg) translate(270%) rotate(-300deg);
  }
}
@media (min-width: 380px) and (max-width: 450px) {
  .nav-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 59px; /* Adjust the size as needed */
    height: 59px; /* Adjust the size as needed */
  }
}
@media (max-width: 378px) {
  .nav-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 57px; /* Adjust the size as needed */
    height: 57px; /* Adjust the size as needed */
  }
  .circle-container {
    width: 300px;
    height: 300px;
  }

  .icon1 {
    transform: rotate(0deg) translate(250%) rotate(0deg);
  }

  .icon2 {
    transform: rotate(60deg) translate(250%) rotate(-60deg);
  }

  .icon3 {
    transform: rotate(120deg) translate(250%) rotate(-120deg);
  }

  .icon4 {
    transform: rotate(180deg) translate(250%) rotate(-180deg);
  }

  .icon5 {
    transform: rotate(240deg) translate(250%) rotate(-240deg);
  }

  .icon6 {
    transform: rotate(300deg) translate(250%) rotate(-300deg);
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .home-container {
    padding-top: 30px;
  }

  .circle-container {
    width: 300px;
    height: 300px;
  }

  .icon1 {
    transform: rotate(0deg) translate(450%) rotate(0deg);
  }

  .icon2 {
    transform: rotate(60deg) translate(450%) rotate(-60deg);
  }

  .icon3 {
    transform: rotate(120deg) translate(450%) rotate(-120deg);
  }

  .icon4 {
    transform: rotate(180deg) translate(450%) rotate(-180deg);
  }

  .icon5 {
    transform: rotate(240deg) translate(450%) rotate(-240deg);
  }

  .icon6 {
    transform: rotate(300deg) translate(450%) rotate(-300deg);
  }
}

@media (min-width: 1200px) and (max-width: 1480px) and (min-height: 900px) and (max-height: 1100px) {
  .home-container {
    padding-top: 60px;
  }
  .circle-container {
    width: 300px;
    height: 300px;
  }

  .icon1 {
    transform: rotate(0deg) translate(550%) rotate(0deg);
  }

  .icon2 {
    transform: rotate(60deg) translate(550%) rotate(-60deg);
  }

  .icon3 {
    transform: rotate(120deg) translate(550%) rotate(-120deg);
  }

  .icon4 {
    transform: rotate(180deg) translate(550%) rotate(-180deg);
  }

  .icon5 {
    transform: rotate(240deg) translate(550%) rotate(-240deg);
  }

  .icon6 {
    transform: rotate(300deg) translate(550%) rotate(-300deg);
  }
}
