/* resources.css */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.resources-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.resources-container h1 {
  margin-bottom: 1em;
  color: var(--text-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Define two columns */
  grid-template-rows: auto; /* Define auto rows */
  gap: 20px;
}

.grid-item {
  background: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item h2 {
  margin-bottom: 1em;
  color: #0077b5;
}

.grid-item ul {
  list-style-type: none;
  padding: 0;
}

.grid-item li {
  padding: 8px 0;
}

.grid-item a {
  color: #0077b5;
  text-decoration: none;
}

.grid-item a:hover {
  text-decoration: underline;
}

.glowing-image-card {
  position: relative;
  display: inline-block;
}
.glowing-image-card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    rgba(0, 128, 255, 0.6),
    rgba(0, 0, 255, 0.3),
    transparent
  );
  border-radius: 10px;
  z-index: -1;
  box-shadow: 0 0 10px rgba(0, 128, 255, 0.5);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(0, 128, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 128, 255, 1);
  }
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --background-color: #333333;
  --text-color: #ffffff;
}

body[data-theme="dark"] .resources-container h1,
body[data-theme="dark"] .grid-item {
  color: var(--text-color);
}
